
.client__list {
    display: flex;
    flex-wrap: wrap;
    margin:-15px;
    align-items: center;
    justify-content: space-between;  
}


.client__card {

        margin: 15px;
        flex-basis: calc((100% - 60px) / 2);
}


.client__link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 0;
    border: 1px solid $color-social-icon;
    border-radius: 4px;
    fill: $color-social-icon;
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: $color-accent;
        border: 1px solid $color-accent;
    }
}



@media screen and (min-width: 768px) {
    
    .client__card{
       flex-basis: calc((100% - 90px) / 3);
    }
}



@media screen and (min-width: 1200px){
    
    .client__card {
        flex-basis: calc((100% - 180px) / 6);
    }
}






